//360
@media (min-width:$mobileScreen){
    /*=========================
    TOP-FV
    ==========================*/
    .top-fv{
        position: relative;
        display: flex;
        justify-content: center;
        height: 650px;
        box-sizing: border-box;
        .swiper-container,
        .swiper-wrapper,
        .swiper-slide,
        picture,
        img{
            width: 100%;
            height: 100%;
            z-index: 1;
        }

        .fv-container{
            position: absolute;
            top:0;
            width: 89.33%;
            color: $white;
            height: 100%;
            padding-top: 211px;
            z-index: 80;
        }
        .fv-text{
            padding-bottom: 167px;
        }
        .fv-sub-title{
            font-family: $font-familyR;
            line-height: 1;
            letter-spacing: 0.1em;
            color: transparent;
            font-size: 2rem;
            -webkit-text-stroke-width:1px ;
            -webkit-text-stroke-color: #FFFFFF;
          }
          .fv-title{
            line-height: 1.2;
            font-size: 50px;
            color: $white;
            letter-spacing: 0.07em;
            padding-bottom: 28px;
          }
          p{
            line-height: 1.8;
            font-size:14px ;
            font-weight: 600;
          }
          .sns-list{
            display: flex;
            column-gap: 24px;
          }
          .sns-list-item i{
            color:$white;
            font-size: 20px;
          }
    }
    // .top-fv{
    //     position: relative;
    //     overflow: hidden;
    //     height: 650px;
    //     box-sizing: border-box;

    //     .fv-container{
    //         width: 100%;
    //         // width: 89.33%;
    //         color: $white;
    //         height: 100%;
    //         // padding-top: 211px;
    //     }
    //     .swiper-wrapper{
    //         width: 100%;
    //         height: 100%;
    //     }
    //     .background-image {
    //         position: absolute;
    //         top: 0;
    //         left: 0;
    //         width: 100%;
    //         height: 100%;
    //         z-index: -1;
    //     }
    //     picture{
    //         width: 100%;
    //         height: 100%;
    //     }
    //     source{
    //         width: 100%;
    //         height: 100%;
    //     }
    //     .swiper-slide{
    //         width: 100%;
    //         height: 100%;
    //     }
    //     .fv-text{
    //         z-index: 100;
    //         padding-bottom: 167px;
    //         padding-top: 211px;
    //         width: 89.33%;
    //     }
    //     .fv-sub-title{
    //         font-family: $font-familyR;
    //         line-height: 1;
    //         letter-spacing: 0.1em;
    //         color: transparent;
    //         font-size: 2rem;
    //         -webkit-text-stroke-width:1px ;
    //         -webkit-text-stroke-color: #FFFFFF;
    //       }
    //       .fv-title{
    //         line-height: 1.2;
    //         font-size: 50px;
    //         color: $white;
    //         letter-spacing: 0.07em;
    //         padding-bottom: 28px;
    //       }
    //       p{
    //         line-height: 1.8;
    //         font-size:14px ;
    //         font-weight: 600;
    //       }
    //       .sns-list{
    //         display: flex;
    //         column-gap: 24px;
    //       }
    //       .sns-list-item i{
    //         color:$white;
    //         font-size: 20px;
    //       }
    // }
    /*=========================
    TOP-MSG
    ==========================*/
    .top-msg{
        @include flex-center;
        width: 100%;
        .msg-container{
            width: 89.33%;
            padding: 120px 0;
            @include columnRow(40px);
        }
        figure{
            // width: 100%;
            text-align: center;
        }
        img{
            width: 53.33vw;
        }
        .msg-title{
            width:78% ;
            letter-spacing: 0.13em;
        }
        p{
            line-height: 1.7;
        }
        .section-text-area > p:nth-of-type(1){
            padding-bottom: 24px;
        }
        .section-text-area > p:nth-of-type(2){
            padding-bottom: 40px;
        }
    }
    /*=========================
    TOP AND ABOUT-INTERVIEW
    ==========================*/
    .top-interview{
        width: 100%;
        background-color: $lightGray;
        padding-bottom: 54px;

        .interview-container{
            width: 100%;
        }
        .section-text-area{
            padding-bottom: 80px;
            width: 89.33%;
            margin: 0 auto;
        }
        .section-title{
            letter-spacing: 0.1em;
            line-height: 1.4;
        }
        .interview-bg{
            width:89.33% ;
            margin: 0 auto;
            color: $white;
            font-size: 40px;
            letter-spacing: 0.09em;
            line-height: 0.9;
            padding-bottom: 1vh;
        }
        p{
            padding-bottom: 40px;
        }
    }
    /*=========================
    TOP-news
    ==========================*/
    .top-news{
        width: 100%;
        @include flex-center;
        padding: 120px 0;
        .news-container{
            width: 89.33%;
            @include columnRow(40px);
            align-items: center;
        }
        .news-title{
            @include flex-column;
            align-items: center;
            text-align: center;
        }
        .news-list{
            @include flex-column;
            align-items: center;
            width: 100%;
          }
          aside{
            display: flex;
            column-gap: 25px;
            align-items: center;
          }
          .news-item{
            width: 100%;
            height: 100%;
            border-bottom: 2px solid $lightGray;
            position: relative;
            &:after{
                display: block;
                content: "";
                width: 110px;
                height: 2px;
                position: absolute;
                background-color: $darkGray;
                bottom: -1px;
                }
            svg{
                transform: rotate(-90deg);
                padding-right: 10px;
                }
          }
          .news-content{
            padding: 29px 0;
            padding-right: 9px;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            transition: 0.3s;
            &:hover{
                background-color: $lightGray;
            }
            time{
                font-family: 'Roboto', sans-serif;
                font-weight: 700;
                font-size: 14px;
                letter-spacing: 0.09em;
           }
          }
          .news-text{
            font-weight: 400;
            font-size: 14px;
            letter-spacing: 0.08em;
          }
    }
}
//768
@media (min-width:$tabletScreen){
    .top-fv{
        position: relative;
        display: flex;
        justify-content: center;
        height: 700px;
    }
}
//1024
@media (min-width:$desktopScreen){
    //TOP-FV
    .top-fv{
        .fv-sub-title{
            font-size: 3.5rem;
        }
        .fv-title{
            font-size: 5rem;
        }

    }
    //TOP-MSG
    .top-msg{
        img{
            width: 35vw;
        }
        .msg-container{
            flex-direction: row;
            justify-content: center;
            column-gap: 95px;
        }
        article{
            width: 33vw;
        }
    }
    //INTERVIEW
    .top-interview{
        padding-bottom: 0;
        .interview-bg{
            font-size: 120px;
            width: 100%;
            letter-spacing: 0.7;
        }
        .interview-container{
            width:86.81% ;
            margin: 0 auto;
            padding-bottom: 124px;
        }
        .text-container{
            display: flex;
            padding-top: 50px;
        }
        p{
            letter-spacing: 1.1;
            padding-bottom: 45px;
        }
        figure{
            height: auto;
        }
    }
    //TOP-NEWS
    .top-news{
        .news-container{
            width: 59.72%;
        }
        .news-list{
            padding-top: 3px;
        }
        p,time,.news-text{
            font-size: 16px;
        }
        aside{
            column-gap: 71px;
        }
        .news-item{
            &::after{
                width: 160px;
            }
        }
        .news-content{
            time{
                font-size: 16px;
            }
        }

    }
}
//1440screen
@media (min-width:$desktopScreen2){
    //TOP-FV
    .top-fv{
        background-image: url(../img/home/mv_1.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 700px;
        box-sizing: border-box;

        .fv-container{
            width: 86.81%;
            padding: 212px 0;
        }
        .fv-sub-title{
            font-size: 80px;
        }
        .fv-title{
            font-size: 100px;
            line-height: 1;
            padding-bottom: 30px;
        }
        p{
            font-size: 1rem;
            line-height: 2;
        }
    }
    //TOP-MSG
    .top-msg{
        figure{
            width: 29.17vw;
        }
        img{
            width: 100%;
        }
        .msg-container{
            align-items: center;
            padding-left: 120px;
        }
        p{
            font-size: 16px;
        }
        article{
            p{
                width: 33vw;
                line-height: 2;
            }
        }
    }
    .top-interview{
        .text-container{
            display: flex;
            padding-top: 50px;
            column-gap: 130px;
            justify-content: center;
        }
        p{
            letter-spacing: 1.1;
            padding-bottom: 45px;
        }
        figure{
            width: 720px;
        }
        .section-text-area{
            width: 420px;
            margin: 0;
        }
    }

}