body{
    font-weight: 400;
    font-family: 'Noto Sans JP', sans-serif;
}
html{
    scroll-behavior: smooth;
}
p {
    line-height:1.5;
    font-size: 14px;
    letter-spacing: 0.1em;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
