
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;600;700&family=Roboto:wght@300;400;700&display=swap');

$mobileScreen:360px;
// $mobileScreen2:375px;
$tabletScreen:768px;
$desktopScreen:1024px;
$desktopScreen2:1440px;

$black:#000000;
$black2:#15171B;
$darkGray:#333333;
$grayColor:#CCCCCC;
$lightGray:#F8F8F8;
$white:#FFFFFF;

$font-familyN: 'Noto Sans JP', sans-serif;
$font-familyR: 'Roboto', sans-serif;