@charset "UTF-8";
/*======================
  reset
======================*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;600;700&family=Roboto:wght@300;400;700&display=swap");
html, body, div, span, iframe, h1, h2, h3, h4, p, a, img, dl, dt, dd, ol, ul, li, label, table, tbody, tr, th, td, figure, blockquote {
  padding: 0;
  margin: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
}

article, aside, figure, footer, header, nav, section {
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #333;
  transition: 0.3s ease-in;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

video {
  max-width: 100%;
  height: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
}

tr, th, td {
  vertical-align: middle;
}

small {
  font-size: inherit;
}

body {
  font-weight: 400;
  font-family: "Noto Sans JP", sans-serif;
}

html {
  scroll-behavior: smooth;
}

p {
  line-height: 1.5;
  font-size: 14px;
  letter-spacing: 0.1em;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

@media (min-width: 360px) {
  .page-list {
    display: flex;
  }
  /*==================
  COMMON-FV
  ===================*/
  .common-fv .fv-title {
    font-size: 50px;
    color: #FFFFFF;
    line-height: 1;
    letter-spacing: 0.08em;
  }
  .common-fv p {
    font-size: 14px;
    color: #FFFFFF;
  }
  .common-fv .fv-container {
    width: 100%;
    height: 100%;
  }
  .common-fv .fv-text {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 2px;
    justify-content: center;
    align-items: center;
  }
  /*==================
  ABOUT-FV
  ===================*/
  .about-fv {
    background-image: url(../img/about/mv_sp.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 650px;
    box-sizing: border-box;
  }
  /*==================
  ABOUT-msg
  ===================*/
  .about-msg .msg-container {
    width: 89.33%;
    margin: 0 auto;
    padding: 120px 0;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    align-items: center;
  }
  .about-msg figure {
    width: 54.13vw;
  }
  .about-msg img {
    width: 100%;
  }
  .about-msg .section-title {
    padding-bottom: 20px;
    letter-spacing: 0.1em;
  }
  .about-msg .section-title:after {
    display: none;
  }
  .about-msg p {
    text-align: center;
    line-height: 1.7;
  }
  .about-msg .section-text-area > p:nth-of-type(1) {
    padding-bottom: 24px;
  }
  /*==================
  ABOUT-BNF
  ===================*/
  .bnf {
    display: flex;
    flex-direction: column;
    row-gap: 289px;
    align-items: center;
  }
  .bnf .main-bnf {
    width: 89.5%;
  }
  .bnf .section-title::after {
    margin: 21px 0;
  }
  .bnf .bnf-bg {
    color: #F8F8F8;
    font-size: 40px;
    letter-spacing: 0.09em;
    line-height: 0.9;
    padding-bottom: 2px;
  }
  .bnf .title-num {
    font-size: 12px;
    padding-bottom: 3px;
  }
  .bnf p {
    line-height: 1.7;
    letter-spacing: 0.14em;
  }
  .bnf figure {
    margin: 0 auto;
    width: 77.33vw;
    text-align: center;
    padding-top: 80px;
  }
  .bnf img {
    width: 100%;
  }
  .sub-bnf {
    background-color: #F8F8F8;
  }
  .sub-bnf .sub-container {
    position: relative;
    top: -80px;
    width: 89.5%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
  }
  .sub-bnf article {
    background-color: #FFFFFF;
    width: 100%;
    height: 380px;
    box-sizing: border-box;
    padding: 20px;
  }
  .about-interview {
    margin: 120px 0;
  }
}
@media (min-width: 768px) {
  .about-msg figure {
    width: 30vw;
  }
  .bnf figure {
    width: 40vw;
  }
}
@media (min-width: 1024px) {
  .sub-bnf .sub-container {
    flex-direction: row;
    justify-content: center;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  .sub-bnf article {
    width: 30%;
    margin: 0;
  }
}
@media (min-width: 1024px) {
  .common-fv .fv-title {
    font-size: 100px;
    padding-bottom: 10px;
  }
  .common-fv p {
    font-size: 16px;
    font-weight: 700;
  }
  .about-fv {
    height: 700px;
    background-image: url(../img/about/mv.jpg);
  }
  .about-msg figure {
    width: 29.17vw;
  }
  .about-msg .msg-container {
    row-gap: 80px;
  }
  .about-msg .section-title {
    padding-bottom: 36px;
  }
  .about-msg .section-text-area > p {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 0.1em;
  }
  .about-msg .section-text-area > p:nth-of-type(1) {
    padding-bottom: 26px;
  }
  .bnf {
    row-gap: 200px;
  }
  .bnf .bnf-bg {
    font-size: 120px;
    width: 100%;
    letter-spacing: 0.7;
  }
  .bnf .main-bnf {
    width: 86.81%;
  }
  .bnf figure {
    width: 40.28vw;
    padding-top: 280px;
  }
  .bnf .title-num {
    font-size: 16px;
    letter-spacing: 0.1em;
  }
  .main-bnf {
    position: relative;
  }
  .main-bnf article {
    position: absolute;
    top: 90px;
  }
  .main-bnf p {
    font-size: 16px;
    width: 79%;
    line-height: 2;
    letter-spacing: 0.1em;
  }
  .main-bnf .title-num {
    padding-bottom: 10px;
  }
  .sub-bnf .sub-container {
    width: 86.81%;
    justify-content: space-between;
  }
  .sub-bnf article {
    padding: 20px 23px;
  }
  .sub-bnf p {
    font-size: 16px;
    line-height: 2;
  }
  .about-interview {
    margin-bottom: 110px;
  }
}
@media (min-width: 360px) {
  /*=========================
  HEADER
  ==========================*/
  .header {
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
  }
  .header .header-container {
    display: flex;
    align-items: center;
    width: 89.33%;
    height: 100%;
    justify-content: space-between;
  }
  .header-logo {
    width: 14.94vw;
  }
  .header-logo img {
    display: flex;
  }
  .header-nav {
    display: none;
  }
  .nav-show {
    position: relative;
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    background-color: #333333;
    width: 100%;
    height: 100%;
    z-index: 1000;
    padding: 20px;
  }
  .nav-show a {
    color: #FFFFFF;
    font-weight: 700;
  }
  .nav-show a:hover {
    border-bottom: 2px solid #FFFFFF;
  }
  .nav-show .fa-xmark {
    position: absolute;
    top: 20px;
    right: 30px;
    color: #FFFFFF;
    z-index: 0;
    width: 40px;
    height: 40px;
  }
  .nav-show .nav {
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
  }
  .nav-show .hmg-logo {
    width: 14.94vw;
  }
  .nav-show .hm-btns {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 4vh;
  }
  .nav-show .header-btn {
    border-color: white;
  }
  .nav-show .header-btn path {
    stroke: #FFFFFF;
  }
  .nav-show .sns-list {
    display: flex;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  .header_nav_btn {
    width: 5.4%;
    position: relative;
  }
  .header_nav_btn .header_nav_bar {
    position: absolute;
    left: 0;
    top: calc(50% - 2px);
    width: 100%;
    height: 3px;
    background-color: #000000;
  }
  .header_nav_btn .m_top {
    transform: translateY(-8px);
  }
  .header_nav_btn .m_bottom {
    transform: translateY(8px);
  }
  /*=========================
  MAIN
  ==========================*/
  main {
    margin-top: 60px;
  }
  .js-fade {
    transform: translate3d(0, 50px, 0);
    transition: 1s;
    opacity: 0;
  }
  .fadeIn {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  /*=========================
  BOTTOM
  ==========================*/
  .common-btn {
    position: relative;
    display: block;
    text-align: center;
    box-sizing: border-box;
    width: 250px;
    height: 54px;
    line-height: 54px;
    border: 2px solid #000000;
    border-radius: 30px;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.1em;
    transition: 0.3s;
  }
  .common-btn svg {
    position: absolute;
    top: 20px;
    right: 15px;
  }
  .more-btn {
    background-color: #FFFFFF;
  }
  .header-btn:hover,
  .more-btn:hover {
    background-color: #000000;
    color: #FFFFFF;
  }
  .white-btn:hover {
    background-color: #FFFFFF;
    color: #000000;
  }
  .header-btn:hover path {
    stroke: #FFFFFF;
  }
  .more-btn:hover path {
    stroke: #FFFFFF;
  }
  .white-btn:hover path {
    stroke: #000000;
  }
  .white-btn {
    border-color: #FFFFFF;
    color: #FFFFFF;
  }
  /*=========================
  SECTION-TITLE
  ==========================*/
  .line {
    width: 100px;
    height: 2px;
    color: #333333;
  }
  .section-title {
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    letter-spacing: 0.1em;
  }
  .section-text-area > p {
    font-weight: 700;
    font-size: 14px;
  }
  .section-title::after {
    display: block;
    content: "";
    width: 100px;
    height: 4px;
    background-color: #333333;
    margin: 23px 0;
  }
  /*=========================
  WP
  ==========================*/
  .wp {
    width: 100%;
    background-image: url(./../img/common/request_bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 140px;
  }
  .wp .wp-container {
    width: 89.33%;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
  }
  .wp .wp-title::after {
    background-color: #FFFFFF;
  }
  .wp p {
    font-weight: 600;
    line-height: 1.6;
    letter-spacing: 0.12em;
  }
  /*=========================
  FOOTER
  ==========================*/
  footer {
    width: 100%;
    color: white;
    background-color: #15171B;
  }
  footer .footer-top {
    padding: 82px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer img {
    width: 40vw;
  }
  footer .footer-nav {
    padding-top: 80px;
    padding-bottom: 40px;
    text-align: center;
  }
  footer .footer-nav-list {
    display: flex;
    flex-direction: column;
    row-gap: 19px;
  }
  footer .footer-nav-item a {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.09em;
    transition: 0.4s;
  }
  footer .footer-nav-item a:hover {
    border-bottom: 2px solid #FFFFFF;
  }
  footer .btns {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
  }
  footer .copy-right {
    width: 89.33%;
    border-top: 1px solid #333333;
    margin: 0 auto;
    font-weight: 300;
    text-align: center;
  }
  footer .copy-right p {
    padding: 28px 0;
    font-size: 14px;
    color: #333333;
    font-weight: 600;
    letter-spacing: 0.06em;
  }
  /*=========================
  COMMON-FV about,interview,faq,
  contact,
  ==========================*/
  .page-list {
    padding-top: 40px;
    padding-left: 20px;
    display: flex;
  }
  .page-list a {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.06em;
  }
  .page-list .page-list-item:not(:last-child):after {
    content: "/";
    padding: 0 12px;
    font-size: 11px;
    font-weight: 600;
  }
  .common-fv .fv-container {
    position: relative;
  }
  .common-fv .page-list {
    -moz-column-gap: 12px;
         column-gap: 12px;
    position: absolute;
    bottom: 24px;
  }
  .common-fv .page-list a {
    color: #F8F8F8;
  }
  .common-fv .page-list-item:not(:last-child):after {
    content: "/";
    color: #FFFFFF;
  }
}
@media (min-width: 1024px) {
  /*=========================
  HEADER
  ==========================*/
  .header {
    height: 90px;
  }
  .header .header-logo {
    width: 135px;
  }
  .header .header-container {
    align-items: center;
  }
  .header .header_nav_btn {
    display: none;
  }
  .header .fa-xmark {
    display: none;
  }
  .header .logo {
    display: none;
  }
  .header .header-nav {
    height: 100%;
    display: block;
  }
  .header .header-nav .white-btn {
    display: none;
  }
  .header .header-nav .sns-list {
    display: none;
  }
  .header .nav {
    display: flex;
    align-items: center;
    -moz-column-gap: 40px;
         column-gap: 40px;
    height: 100%;
  }
  .header .nav a {
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.09em;
    transition: 0.4s;
  }
  .header .nav a:hover {
    border-bottom: 2px solid #15171B;
  }
  /*=========================
  MAIN
  ==========================*/
  main {
    margin-top: 90px;
  }
  /*=========================
  WP
  ==========================*/
  .wp {
    background-image: url(../img/common/request_bg.jpg);
    padding-bottom: 120px;
  }
  .wp .wp-container {
    width: 86.81%;
  }
  .wp p {
    width: 48%;
    font-size: 16px;
    line-height: 2;
  }
  /*=========================
  FOOTER
  ==========================*/
  .footer img {
    width: 12.22vw;
  }
  .footer .footer-container {
    width: 81.25%;
    margin: 0 auto;
  }
  .footer .copy-right {
    width: 100%;
  }
  .footer .footer-top {
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    align-items: flex-start;
    padding-top: 80px;
    padding-bottom: 40px;
  }
  .footer .footer-nav {
    padding: 0;
    width: 30%;
    text-align: left;
  }
  .footer .footer-nav-list {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 11px;
  }
  .footer .footer-nav-item {
    width: 50%;
  }
}
@media (min-width: 1440px) {
  .header .header-container {
    width: 100%;
    padding: 0 50px;
  }
  .header .nav a {
    letter-spacing: 0.07em;
  }
  .section-title {
    font-size: 28px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    letter-spacing: 0.1em;
  }
  .footer figure {
    padding-right: 350px;
  }
}
@media (min-width: 360px) {
  .contact-fv {
    background-image: url(../img/contact/mv_sp.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 650px;
    box-sizing: border-box;
  }
  .contact-page {
    width: 100%;
  }
  .contact-page .contact-container {
    width: 84%;
    margin: 0 auto;
    padding-top: 120px;
    padding-bottom: 80px;
  }
  .contact-page .section-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 63px;
  }
  .contact-page label {
    font-weight: 700;
    letter-spacing: 0.1em;
  }
  .contact-page span {
    font-size: 10px;
    color: #FF8888;
  }
  .contact-page form {
    width: 100%;
  }
  .contact-page form div {
    padding-bottom: 43px;
  }
  .contact-page .name-area {
    width: 100%;
    display: flex;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  .contact-page .name-area label {
    padding-bottom: 5px;
  }
  .contact-page .name-area input {
    width: 35vw;
    border: 1px solid #CECECE;
    height: 32px;
  }
  .contact-page .name-area aside {
    display: flex;
    flex-direction: column;
  }
  .contact-page .gender-area .gender-check {
    display: flex;
    -moz-column-gap: 24px;
         column-gap: 24px;
  }
  .contact-page .gender-area aside {
    display: flex;
    align-items: center;
    -moz-column-gap: 3px;
         column-gap: 3px;
  }
  .contact-page .radio {
    box-sizing: border-box;
  }
  .contact-page .radio input {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    position: absolute;
  }
  .contact-page .radio label::before {
    content: "";
    display: block;
    border-radius: 50%;
    border: 1px solid #CECECE;
    width: 25px;
    height: 25px;
  }
  .contact-page .radio label {
    position: relative;
    display: flex;
    align-items: center;
  }
  .contact-page .radio input:checked + label::after {
    content: "";
    position: absolute;
    display: block;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: #000000;
    left: 6px;
  }
  .contact-page .gender-check {
    padding-top: 7px;
    padding-bottom: 0;
  }
  .contact-page .gender-check label {
    font-size: 14px;
    font-weight: 400;
  }
  .contact-page .birth-area aside {
    padding-top: 6px;
    display: flex;
    align-items: center;
    -moz-column-gap: 5px;
         column-gap: 5px;
  }
  .contact-page .birth-area .birth_year {
    box-sizing: border-box;
    width: 98px;
    padding: 10px;
    border: 1px solid #CECECE;
    height: 35px;
  }
  .contact-page .birth-area .birth_month,
  .contact-page .birth-area .birth_day {
    box-sizing: border-box;
    width: 35px;
    padding: 10px;
    border: 1px solid #CECECE;
    height: 35px;
  }
  .contact-page .birth-info label {
    padding-right: 24px;
  }
  .contact-page .address-area {
    display: flex;
    flex-direction: column;
  }
  .contact-page .address-area label {
    padding-bottom: 6px;
  }
  .contact-page .address-area select {
    padding-left: 5px;
    border: 1px solid #CECECE;
    height: 35px;
  }
  .contact-page .mail-area {
    display: flex;
    flex-direction: column;
    row-gap: 18px;
  }
  .contact-page .mail-area aside {
    display: flex;
    flex-direction: column;
  }
  .contact-page .mail-area label {
    padding-bottom: 6px;
  }
  .contact-page .mail-area input {
    border: 1px solid #CECECE;
    height: 35px;
  }
  .contact-page .contact-form {
    display: flex;
    flex-direction: column;
  }
  .contact-page .contact-form label {
    padding-bottom: 6px;
  }
  .contact-page textarea {
    border: 1psx solid #CECECE;
    height: 230px;
  }
  .contact-page .scroll {
    height: 260px;
    overflow: auto;
  }
  .contact-page .scroll p {
    padding-bottom: 22px;
    line-height: 1.7;
  }
  .contact-page .scroll label {
    line-height: 1;
  }
  .contact-page .policy-area {
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    -moz-column-gap: 3px;
         column-gap: 3px;
  }
  .contact-page .policy-area label {
    font-size: 12px;
  }
  .contact-page .policy-area input {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    position: absolute;
  }
  .contact-page .policy-area label {
    position: relative;
  }
  .contact-page .policy-area label::before {
    position: absolute;
    content: "";
    display: block;
    left: -25px;
    border: 1px solid #333333;
    border-radius: 50%;
    width: 20px;
    height: 20px;
  }
  .contact-page .policy-area input:checked + label::after {
    position: absolute;
    content: "";
    display: block;
    top: 3px;
    left: -22px;
    border-radius: 50%;
    background-color: #000000;
    width: 16px;
    height: 16px;
  }
  .contact-page .submit-area {
    position: relative;
    width: 250px;
    margin: 0 auto;
  }
  .contact-page .submit-area svg {
    position: absolute;
    right: 20px;
    top: 20px;
  }
  .contact-page .submit-btn {
    position: relative;
    display: block;
    text-align: center;
    box-sizing: border-box;
    width: 250px;
    height: 54px;
    line-height: 54px;
    border: 2px solid #000000;
    border-radius: 30px;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.1em;
    transition: 0.3s;
    background-color: transparent;
  }
  .contact-page .submit-btn svg {
    position: absolute;
    top: 20px;
    right: 15px;
  }
  .contact-page .submit-btn:hover {
    background-color: black;
    color: white;
  }
  .contact-page .submit-btn:hover svg path {
    stroke: white;
  }
}
@media (min-width: 1024px) {
  .contact-fv {
    background-image: url(../img/contact/mv.jpg);
    height: 700px;
  }
  .contact-page {
    width: 100%;
  }
  .contact-page .contact-container {
    width: 62.5%;
  }
  .contact-page input, .contact-page select {
    height: 60px;
  }
  .contact-page form div {
    padding-bottom: 83px;
  }
  .contact-page form .contact-form,
  .contact-page form .scroll {
    padding-bottom: 40px;
  }
  .contact-page form .submit-area {
    padding-bottom: 0;
  }
  .contact-page .name-area {
    -moz-column-gap: 40px;
         column-gap: 40px;
  }
  .contact-page .name-area input {
    width: 320px;
    height: 60px;
  }
  .contact-page .birth-area .birth_year {
    width: 170px;
    height: 60px;
  }
  .contact-page .birth-area .birth_month,
  .contact-page .birth-area .birth_day {
    width: 68px;
    height: 60px;
  }
  .contact-page .address-area select {
    height: 60px;
    width: 320px;
  }
  .contact-page .mail-area {
    flex-direction: row;
    -moz-column-gap: 40px;
         column-gap: 40px;
  }
  .contact-page .mail-area input {
    width: 320px;
    height: 60px;
  }
  .contact-page .scroll p {
    font-size: 16px;
    letter-spacing: 0.09em;
    line-height: 2;
    padding-bottom: 30px;
  }
  .contact-page .policy-area {
    padding-bottom: 85px;
  }
  .contact-page .submit-area {
    margin-bottom: 42px;
  }
}
@media (min-width: 360px) {
  /*==================
  FAQ-FV
  ===================*/
  .faq-fv {
    background-image: url(../img/faq/mv_sp.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 650px;
    box-sizing: border-box;
  }
  .faq {
    width: 100%;
  }
  .faq .faq-container {
    padding: 120px 0;
    width: 89.33%;
    margin: 0 auto;
  }
  .faq .section-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 57px;
  }
  .faq .qa-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 18px;
  }
  .faq .qa-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    padding-bottom: 18px;
    border-bottom: 1px solid #DDDDDD;
  }
  .faq .qa-item p {
    width: 83.58%;
    letter-spacing: 0.1em;
    line-height: 1.8;
  }
  .faq .qa-item i {
    position: absolute;
    right: 5px;
    font-size: 20px;
  }
  .faq .qa-item aside {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
  }
  .faq .qa-item h4 {
    font-size: 16px;
    font-weight: 700;
  }
  .faq .qa-item .a-area {
    display: none;
  }
  .faq .qa-item .question {
    font-size: 16px;
    font-weight: 700;
    color: #DEDEDE;
    font-family: "Roboto", sans-serif;
    padding-right: 12px;
  }
  .faq .qa-item .answer {
    font-size: 16px;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    padding-right: 12px;
  }
}
@media (min-width: 768px) {
  .faq .faq-container {
    width: 62.5%;
  }
}
@media (min-width: 1024px) {
  .faq-fv {
    background-image: url(../img/faq/mv.jpg);
    height: 700px;
  }
  .faq .fav-container {
    padding-top: 125px;
  }
  .faq .qa-content {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
  }
  .faq .section-title {
    padding-bottom: 60px;
  }
  .faq .qa-item {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
  }
  .faq .qa-item h4 {
    font-size: 24px;
    letter-spacing: 0.09em;
  }
  .faq .qa-item h4:after {
    width: 15px;
    right: 0;
  }
  .faq .qa-item p {
    font-size: 16px;
  }
  .faq .qa-item .question {
    font-size: 32px;
  }
  .faq .qa-item .answer {
    font-size: 32px;
  }
}
@media (min-width: 360px) {
  /*==================
  INTERVIEW-FV
  ===================*/
  .interview-fv {
    background-image: url(../img/interview/mv_sp.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 650px;
    box-sizing: border-box;
  }
  /*==================
  INT
  ===================*/
  .int {
    width: 100%;
    padding-top: 120px;
  }
  .int figure {
    position: relative;
    width: 89.33%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
  }
  .int figure a {
    position: absolute;
    bottom: 3px;
    width: 272px;
  }
  .int img {
    width: 78.67vw;
  }
  .int figcaption {
    position: relative;
    top: -50px;
    width: 100%;
    background-color: #FFFFFF;
    padding-bottom: 32px;
    padding-top: 65px;
    z-index: -1;
  }
  .int figcaption h3, .int figcaption h4 {
    width: 78.76vw;
    margin: 0 auto;
  }
  .int figcaption h3 {
    font-size: 16px;
    padding-bottom: 40px;
  }
  .int figcaption h4 {
    color: #CCCCCC;
    font-size: 14px;
  }
  .int .section-title {
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .int .int-content {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 86px;
    align-items: center;
    padding-bottom: 80px;
  }
  .int .int-container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .int .bgc-gray {
    position: absolute;
    background-color: #F8F8F8;
    bottom: 0;
    width: 100%;
    height: 79%;
  }
  .page-nation {
    width: 52.27%;
    margin: 0 auto;
    padding-top: 80px;
    padding-bottom: 120px;
    display: flex;
    justify-content: space-between;
  }
  .page-nation li {
    width: 10.67vw;
    height: 10.67vw;
    border: solid 2px #000000;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 768px) {
  .int .int-content {
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 80px;
  }
  .int img {
    max-width: 90%;
  }
  .int figure {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
  }
  .int figure h3, .int figure h4 {
    width: 90%;
  }
  .int .common-btn {
    width: 95%;
  }
  .page-nation {
    width: 30%;
  }
  .page-nation li {
    width: 5vw;
    height: 5vw;
  }
}
@media (min-width: 1024px) {
  .interview-fv {
    height: 700px;
    background-image: url(../img/interview/mv.jpg);
  }
  .int .int-container {
    position: relative;
    padding: 0 90px;
  }
  .int .int-content {
    -moz-column-gap: 55px;
         column-gap: 55px;
    padding-bottom: 90px;
  }
  .int figure {
    width: 26.39vw;
  }
  .int figure a {
    bottom: -13px;
  }
  .int figcaption {
    top: -30px;
    padding-top: 43px;
    padding-bottom: 40px;
  }
  .int figcaption h3 {
    font-size: 24px;
  }
  .int figcaption h3, .int figcaption h4 {
    width: 80%;
  }
  .int figcaption h4 {
    font-size: 16px;
  }
  .int img {
    width: 300px;
  }
  .int .common-btn {
    max-width: 272px;
  }
  .int .bgc-gray {
    position: absolute;
    background-color: #F8F8F8;
    bottom: 0;
    width: 100%;
    height: 500px;
  }
  .page-nation {
    width: 13.61%;
  }
  .page-nation li {
    width: 2.78vw;
    height: 2.78vw;
  }
}
@media (min-width: 360px) {
  .int-single .int-s-container {
    margin: 0 auto;
    max-width: 980px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 90px;
    padding-bottom: 120px;
  }
  .int-single .int-s-container a {
    width: 100%;
  }
  .int-single figure {
    width: 100%;
  }
  .int-single img {
    width: 100%;
    padding-bottom: 40px;
  }
  .int-single h3 {
    padding-bottom: 24px;
    letter-spacing: 0.15em;
  }
  .int-single p {
    padding-bottom: 60px;
    line-height: 1.8;
    letter-spacing: 0.02em;
  }
  .int-single h4 {
    font-size: 14px;
    padding-bottom: 120px;
    color: #DEDEDE;
    letter-spacing: 0.1em;
  }
}
@media (min-width: 768px) {
  .int-single .int-s-container a {
    width: 50%;
  }
}
@media (min-width: 768px) {
  .page-list {
    padding-top: 40px;
    padding-left: 95px;
  }
  .int-single .int-s-container {
    width: 62.5%;
  }
  .int-single .int-s-container a {
    max-width: 367px;
  }
  .int-single h3 {
    font-size: 28px;
  }
  .int-single p {
    font-size: 16px;
    letter-spacing: 0.1em;
    padding-bottom: 120px;
  }
  .int-single h4 {
    font-size: 16px;
    padding-bottom: 130px;
  }
}
@media (min-width: 360px) {
  /*==================
  NEWS-FV
  ===================*/
  .news-fv {
    background-image: url(../img/news/mv_sp.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 650px;
    box-sizing: border-box;
  }
  .time-category {
    display: flex;
    -moz-column-gap: 12px;
         column-gap: 12px;
    font-size: 12px;
    align-items: center;
    padding-bottom: 12px;
  }
  .cat-item {
    width: 29.33vw;
    height: 25px;
    border: solid 1px #333333;
  }
  .cat-item a {
    width: 100%;
    display: flex;
    justify-content: center;
    line-height: 25px;
    font-size: 12px;
  }
  .cat-item p {
    width: 100%;
    display: flex;
    justify-content: center;
    line-height: 25px;
    font-size: 12px;
    color: #FFFFFF;
  }
  .notice {
    background-color: #333333;
  }
  time {
    font-weight: 700;
    letter-spacing: 0.08em;
  }
  .news-page {
    width: 100%;
  }
  .news-page .news-container {
    width: 89.33%;
    margin: 0 auto;
    padding-top: 120px;
  }
  .news-page .category {
    width: 100%;
    display: flex;
    -moz-column-gap: 2px;
         column-gap: 2px;
    padding-bottom: 84px;
    justify-content: center;
  }
  .news-page .section-title {
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .news-page img {
    width: 34.5vw;
    aspect-ratio: 12/11;
    padding-right: 12px;
  }
  .news-page .news-page-list {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
  }
  .news-page .news-page-item {
    padding-bottom: 24px;
    border-bottom: 1px solid #DDDDDD;
    transition: 0.3s;
  }
  .news-page .news-page-item:hover {
    background-color: #F8F8F8;
  }
  .news-page .news-page-item a {
    width: 100%;
    display: flex;
  }
  .news-page .news-page-item h2 {
    font-size: 16px;
  }
  .news-page time,
  .news-page .news-text {
    font-size: 12px;
  }
  .news-page .event {
    background-color: #828282;
    border-color: #828282;
  }
  .news-page .news-nation {
    padding-top: 80px;
  }
}
@media (min-width: 768px) {
  .cat-item {
    max-width: 119px;
  }
  .news-page {
    width: 100%;
  }
  .news-page .news-container {
    width: 60%;
  }
  .news-page img {
    width: 34.5vw;
    padding-right: 12px;
    height: auto;
    aspect-ratio: 24/15;
  }
}
@media (min-width: 1024px) {
  .news-fv {
    background-image: url(../img/news/mv.jpg);
    height: 700px;
  }
  .news-page img {
    width: 18.5vw;
    height: auto;
    padding-right: 24px;
  }
  .news-page .news-container {
    width: 62.5%;
  }
  .news-page .news-page-item h2 {
    font-size: 24px;
  }
  .news-page .category {
    -moz-column-gap: 12px;
         column-gap: 12px;
  }
}
@media (min-width: 360px) {
  .news-s-container {
    width: 78.67%;
    margin: 0 auto;
    padding-top: 90px;
    padding-bottom: 120px;
  }
  .news-s-container p {
    line-height: 1.7;
    letter-spacing: 0.1em;
  }
  .news-s-container h1 {
    font-size: 20px;
    padding-top: 28px;
    letter-spacing: 0.1em;
    padding-bottom: 40px;
  }
  .news-s-container img {
    width: 78.67vw;
    padding-bottom: 40px;
  }
  .news-s-container figure {
    padding-bottom: 40px;
  }
  .news-s-container h2 {
    font-size: 18px;
    padding-bottom: 24px;
    letter-spacing: 0.1em;
  }
  .news-s-container .h2-p {
    padding-bottom: 32px;
  }
  .news-s-container h3 {
    font-size: 16px;
    padding-bottom: 26px;
    letter-spacing: 0.1em;
  }
  .news-s-container .link-text {
    display: block;
    text-decoration: underline;
    padding-bottom: 26px;
    font-size: 14px;
    letter-spacing: 0.1em;
  }
  .news-s-container ul {
    display: flex;
    flex-direction: column;
    row-gap: 14px;
    padding-bottom: 28px;
  }
  .news-s-container ul li {
    color: #000000;
    font-size: 14px;
  }
  .news-s-container ul li:before {
    display: inline-block;
    vertical-align: middle;
    /*以下白丸つくる*/
    content: "";
    width: 12px;
    height: 12px;
    background: #000000;
    border-radius: 50%;
    margin-right: 8px;
  }
  .news-s-container ol {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    counter-reset: number; /*数字をリセット*/
    list-style-type: none !important; /*数字を一旦消す*/
    padding-bottom: 81px;
  }
  .news-s-container ol li {
    position: relative;
    padding-left: 30px;
    font-size: 14px;
    letter-spacing: 0.15em;
  }
  .news-s-container ol li:before {
    position: absolute;
    counter-increment: number;
    content: counter(number);
    /*以下数字のデザイン変える*/
    display: inline-block;
    background: #000000;
    color: #FFFFFF;
    border-radius: 50%;
    left: 0;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    /*以下 上下中央寄せのため*/
    top: 50%;
    transform: translateY(-50%);
  }
  .news-s-container .more-news {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 1024px) {
  .news-s-container {
    width: 62.5%;
  }
  .news-s-container p {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 0.1em;
  }
  .news-s-container .cat-p {
    line-height: 25px;
  }
  .news-s-container time {
    font-size: 16px;
  }
  .news-s-container h1 {
    font-size: 28px;
    padding-bottom: 60px;
  }
  .news-s-container img {
    width: 62.5vw;
  }
  .news-s-container figure {
    padding-bottom: 40px;
  }
  .news-s-container h2 {
    font-size: 24px;
    padding-bottom: 24px;
  }
  .news-s-container .h2-p {
    padding-bottom: 32px;
  }
  .news-s-container h3 {
    font-size: 18px;
  }
  .news-s-container .link-text {
    font-size: 16px;
    padding-bottom: 33px;
  }
  .news-s-container ul {
    row-gap: 11px;
    padding-bottom: 35px;
  }
  .news-s-container ul li {
    font-size: 16px;
  }
  .news-s-container ol {
    row-gap: 8px;
    padding-bottom: 82px;
  }
  .news-s-container ol li {
    font-size: 16px;
  }
  .news-s-container .more-news {
    justify-content: flex-start;
  }
}
@media (min-width: 360px) {
  /*=========================
  TOP-FV
  ==========================*/
  .top-fv {
    position: relative;
    display: flex;
    justify-content: center;
    height: 650px;
    box-sizing: border-box;
  }
  .top-fv .swiper-container,
  .top-fv .swiper-wrapper,
  .top-fv .swiper-slide,
  .top-fv picture,
  .top-fv img {
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  .top-fv .fv-container {
    position: absolute;
    top: 0;
    width: 89.33%;
    color: #FFFFFF;
    height: 100%;
    padding-top: 211px;
    z-index: 80;
  }
  .top-fv .fv-text {
    padding-bottom: 167px;
  }
  .top-fv .fv-sub-title {
    font-family: "Roboto", sans-serif;
    line-height: 1;
    letter-spacing: 0.1em;
    color: transparent;
    font-size: 2rem;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #FFFFFF;
  }
  .top-fv .fv-title {
    line-height: 1.2;
    font-size: 50px;
    color: #FFFFFF;
    letter-spacing: 0.07em;
    padding-bottom: 28px;
  }
  .top-fv p {
    line-height: 1.8;
    font-size: 14px;
    font-weight: 600;
  }
  .top-fv .sns-list {
    display: flex;
    -moz-column-gap: 24px;
         column-gap: 24px;
  }
  .top-fv .sns-list-item i {
    color: #FFFFFF;
    font-size: 20px;
  }
  /*=========================
  TOP-MSG
  ==========================*/
  .top-msg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .top-msg .msg-container {
    width: 89.33%;
    padding: 120px 0;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
  }
  .top-msg figure {
    text-align: center;
  }
  .top-msg img {
    width: 53.33vw;
  }
  .top-msg .msg-title {
    width: 78%;
    letter-spacing: 0.13em;
  }
  .top-msg p {
    line-height: 1.7;
  }
  .top-msg .section-text-area > p:nth-of-type(1) {
    padding-bottom: 24px;
  }
  .top-msg .section-text-area > p:nth-of-type(2) {
    padding-bottom: 40px;
  }
  /*=========================
  TOP AND ABOUT-INTERVIEW
  ==========================*/
  .top-interview {
    width: 100%;
    background-color: #F8F8F8;
    padding-bottom: 54px;
  }
  .top-interview .interview-container {
    width: 100%;
  }
  .top-interview .section-text-area {
    padding-bottom: 80px;
    width: 89.33%;
    margin: 0 auto;
  }
  .top-interview .section-title {
    letter-spacing: 0.1em;
    line-height: 1.4;
  }
  .top-interview .interview-bg {
    width: 89.33%;
    margin: 0 auto;
    color: #FFFFFF;
    font-size: 40px;
    letter-spacing: 0.09em;
    line-height: 0.9;
    padding-bottom: 1vh;
  }
  .top-interview p {
    padding-bottom: 40px;
  }
  /*=========================
  TOP-news
  ==========================*/
  .top-news {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 120px 0;
  }
  .top-news .news-container {
    width: 89.33%;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    align-items: center;
  }
  .top-news .news-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .top-news .news-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .top-news aside {
    display: flex;
    -moz-column-gap: 25px;
         column-gap: 25px;
    align-items: center;
  }
  .top-news .news-item {
    width: 100%;
    height: 100%;
    border-bottom: 2px solid #F8F8F8;
    position: relative;
  }
  .top-news .news-item:after {
    display: block;
    content: "";
    width: 110px;
    height: 2px;
    position: absolute;
    background-color: #333333;
    bottom: -1px;
  }
  .top-news .news-item svg {
    transform: rotate(-90deg);
    padding-right: 10px;
  }
  .top-news .news-content {
    padding: 29px 0;
    padding-right: 9px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.3s;
  }
  .top-news .news-content:hover {
    background-color: #F8F8F8;
  }
  .top-news .news-content time {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.09em;
  }
  .top-news .news-text {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.08em;
  }
}
@media (min-width: 768px) {
  .top-fv {
    position: relative;
    display: flex;
    justify-content: center;
    height: 700px;
  }
}
@media (min-width: 1024px) {
  .top-fv .fv-sub-title {
    font-size: 3.5rem;
  }
  .top-fv .fv-title {
    font-size: 5rem;
  }
  .top-msg img {
    width: 35vw;
  }
  .top-msg .msg-container {
    flex-direction: row;
    justify-content: center;
    -moz-column-gap: 95px;
         column-gap: 95px;
  }
  .top-msg article {
    width: 33vw;
  }
  .top-interview {
    padding-bottom: 0;
  }
  .top-interview .interview-bg {
    font-size: 120px;
    width: 100%;
    letter-spacing: 0.7;
  }
  .top-interview .interview-container {
    width: 86.81%;
    margin: 0 auto;
    padding-bottom: 124px;
  }
  .top-interview .text-container {
    display: flex;
    padding-top: 50px;
  }
  .top-interview p {
    letter-spacing: 1.1;
    padding-bottom: 45px;
  }
  .top-interview figure {
    height: auto;
  }
  .top-news .news-container {
    width: 59.72%;
  }
  .top-news .news-list {
    padding-top: 3px;
  }
  .top-news p, .top-news time, .top-news .news-text {
    font-size: 16px;
  }
  .top-news aside {
    -moz-column-gap: 71px;
         column-gap: 71px;
  }
  .top-news .news-item::after {
    width: 160px;
  }
  .top-news .news-content time {
    font-size: 16px;
  }
}
@media (min-width: 1440px) {
  .top-fv {
    background-image: url(../img/home/mv_1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 700px;
    box-sizing: border-box;
  }
  .top-fv .fv-container {
    width: 86.81%;
    padding: 212px 0;
  }
  .top-fv .fv-sub-title {
    font-size: 80px;
  }
  .top-fv .fv-title {
    font-size: 100px;
    line-height: 1;
    padding-bottom: 30px;
  }
  .top-fv p {
    font-size: 1rem;
    line-height: 2;
  }
  .top-msg figure {
    width: 29.17vw;
  }
  .top-msg img {
    width: 100%;
  }
  .top-msg .msg-container {
    align-items: center;
    padding-left: 120px;
  }
  .top-msg p {
    font-size: 16px;
  }
  .top-msg article p {
    width: 33vw;
    line-height: 2;
  }
  .top-interview .text-container {
    display: flex;
    padding-top: 50px;
    -moz-column-gap: 130px;
         column-gap: 130px;
    justify-content: center;
  }
  .top-interview p {
    letter-spacing: 1.1;
    padding-bottom: 45px;
  }
  .top-interview figure {
    width: 720px;
  }
  .top-interview .section-text-area {
    width: 420px;
    margin: 0;
  }
}/*# sourceMappingURL=style.css.map */