
//360
@media (min-width:$mobileScreen){
    .page-list{
        display: flex;
    }
    /*==================
    COMMON-FV
    ===================*/
    .common-fv{
        .fv-title{
            font-size: 50px;
            color: $white;
            line-height: 1;
            letter-spacing: 0.08em;
        }
        p{
            font-size: 14px;
            color: $white;
        }
        .fv-container{
            width: 100%;
            height: 100%;
            // @include flex-center;
        }
        .fv-text{
            width: 100%;
            height: 100%;
            @include columnRow(2px);
            justify-content: center;
            align-items: center;
        }
    }
    /*==================
    ABOUT-FV
    ===================*/
    .about-fv{
        background-image: url(././img/about/mv_sp.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 650px;
        box-sizing: border-box;
    }
    /*==================
    ABOUT-msg
    ===================*/
    .about-msg{
        .msg-container{
            width: 89.33%;
            margin: 0 auto;
            padding: 120px 0;
            @include columnRow(40px);
            align-items: center;
        }
        figure{
            width: 54.13vw;
        }
        img{
            width: 100%;
        }
        .section-title{
            // width: 95%;
            // margin: 0 auto;
            padding-bottom: 20px;
            letter-spacing: 0.1em;
            &:after{
                display: none;
            }
        }
        p{
            text-align: center;
            line-height: 1.7;
        }
        .section-text-area > p:nth-of-type(1){
            padding-bottom: 24px;
        }
    }
    /*==================
    ABOUT-BNF
    ===================*/
    .bnf{
        @include columnRow(289px);
        align-items: center;
        // padding-bottom: 120px;
        .main-bnf{
            width: 89.5%;
        }
        .section-title{
            &::after{
                margin: 21px 0;
            }
        }
        .bnf-bg{
            color: $lightGray;
            font-size: 40px;
            letter-spacing: 0.09em;
            line-height: 0.9;
            padding-bottom: 2px;

        }
        .title-num{
            font-size: 12px;
            padding-bottom: 3px;
        }
        p{
            line-height: 1.7;
            letter-spacing: 0.14em;
        }
        figure{
            margin: 0 auto;
            width: 77.33vw;
            text-align: center;
            padding-top: 80px;
        }
        img{
            width: 100%;
        }
    }
    .sub-bnf{
        background-color: $lightGray;
        .sub-container{
            position: relative;
            top:-80px;
            width: 89.5%;
            margin: 0 auto;
            @include columnRow(40px);
        }
        article{
            background-color: $white;
            // margin: 0 auto;
            // width: 89.5%;
            width: 100%;
            height: 380px;
            box-sizing: border-box;
            padding: 20px;
        }
    }
    .about-interview{
        margin:120px 0;
    }
}
//768
@media (min-width:$tabletScreen){
    .about-msg{
        figure{
            width: 30vw;
        }
    }
    .bnf{
        figure{
            width: 40vw;
        }
    }
}
//1024
@media (min-width:$desktopScreen){
    .sub-bnf{
        .sub-container{
            flex-direction: row;
            justify-content: center;
            column-gap: 20px;
        }
        article{
            width: 30%;
            margin: 0;
        }
    }
}
//1440
@media (min-width:$desktopScreen){
    .common-fv{
        .fv-title{
            font-size: 100px;
            padding-bottom: 10px;
        }
        p{
            font-size: 16px;
            font-weight: 700;
        }
    }
    .about-fv{
        height: 700px;
        background-image: url(././img/about/mv.jpg);
    }
    .about-msg{
        figure{
            width: 29.17vw;
        }
        .msg-container{
            row-gap: 80px;
        }
        .section-title{
            padding-bottom: 36px;
        }
        .section-text-area>p{
            font-size: 16px;
            line-height: 2;
            letter-spacing: 0.1em;
        }
        .section-text-area > p:nth-of-type(1){
            padding-bottom: 26px;
        }
    }
    .bnf{
        row-gap: 200px;
        .bnf-bg{
            font-size: 120px;
            width: 100%;
            letter-spacing: 0.7;
        }
        .main-bnf{
            width: 86.81%;
        }
        figure{
            width: 40.28vw;
            padding-top: 280px;
        }
        .title-num{
            font-size: 16px;
            letter-spacing: 0.1em;
        }
    }
    .main-bnf{
        position: relative;
        article{
            position: absolute;
            top: 90px;
        }
        p{
            font-size: 16px;
            width: 79%;
            line-height: 2;
            letter-spacing: 0.1em;
        }
        .title-num{
            padding-bottom: 10px;
        }
    }
    .sub-bnf{
        .sub-container{
            width: 86.81%;
            justify-content: space-between;
        }
        article{
            padding: 20px 23px;
        }
       p{
        font-size: 16px;
        line-height: 2;
       }
    }
    .about-interview{
       margin-bottom: 110px;

    }


}
